.form-container {
  padding-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* margin-top: 20px; */
  max-width: 600px;
  margin: 0 auto;
  /* max-height: 700px; */
  padding: 20px;
  background: white;
  /* margin-top: 10%; */
}
.dist{
  padding-top: 2%;
}
.header {
  padding: 2px;
  background-color: hsl(209, 88%, 41%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
} 
.container {
  padding-bottom: 2%;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
  padding: 20px; /* Add some padding */
  box-sizing: border-box; /* Include padding in element's total width and height */
  width: 100%;
}
.form-container {
  max-width: 1000px;
  margin: 0 auto;
  /* max-height: 700px; */
  /* padding: 20px; */
  background: white;
}
/* .form-container{
  width: 1000px;
} */
.title,
.slogan {
  text-align: center;
}
.btn {
  width: 100%;
  text-align: center;
  background-color: #cbdbff;
}
.auth-image {
  width: 100%;
  border-radius: 8px;
}
/* 
body {
  background-color: #cbdbff;
} */