.layout {
  min-height: 100vh;
  background-color: #fff;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

.question-panel {
  padding: 24px;
}

.site-layout-background {
  background: #f0f2f5;
}
.ant-layout-sider-children {
  background-color: #fff;
}

.editor-container {
  display: flex;
  flex: 1;
  height: 100%;
}
.editor-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.editor-actions {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}